xml docs/schema.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="note">
<xs:complexType>
<xs:sequence>
<xs:element name="empno" type="xs:integer"/>
<xs:element name="name" type="xs:string"/>
<xs:element name="salary" type="xs:integer"/>
<xs:element name="band" type="xs:string"/>
<xs:element name="doj" type="xs:date"/>
</xs:sequence>
</xs:complexType>
</xs:element>

</xs:schema>